::selection{
    background-color: rgba(152,146,255,0.4);
}
@media screen {
    .start{
        background-attachment: scroll;
    }
    .page1{
        background-attachment: scroll;
    }
}
@keyframes arrow1 {
    from{
        top: 540px;
    }
    to {
        bottom: 10px;
    }
    
}
@keyframes arrow2 {
    from{
        bottom: -50px;
    }
    to {
        bottom: -60px;
    }
}
body{
    background-color: rgba(8, 7, 7, 0.952);
}
.start{
    background-image: url(/watermelonsugar/images/background.png);
    background-size: cover;
    border: 0px;
    opacity: 50%;
    margin: 0px;
    padding-bottom: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeInUp;
    animation-duration: 3s;
}
.starttitle{
    color: white;
    font-family: Pacifico;
    font-size: 50px;
    position: relative; bottom: 450px; left: 420px;
    background: rgb(152,146,255);
    background: linear-gradient(90deg, rgba(152,146,255,0.4) 4%, rgba(255,38,93,0.4) 100%);    
    max-width: 410px;
    padding: 20px;  
}
.start>a{
    width: 50px;
    max-width: 100px;
    max-height: 50px;
    position: relative; top: 550px; left: 640px;
    animation-name: arrow1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.page1>a{
    width: 50px;
    max-width: 100px;
    max-height: 50px;
    position: relative; bottom: -70px;
    animation-name: arrow2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
h1{
    font-family: Pacifico;
    padding: 10px;
    font-weight: 50;
    font-size: 50px;
}
.pg1head{
    padding-top: 40px;
}
.page1{
    background-color: white;
    position: relative; bottom: 220px;
    text-align: center;
    padding-bottom: 110px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
    font-weight: 500;

}
#pg2{
    color: white;
    background-color: rgb(8, 7, 7,);
    position: relative; bottom: 250px;
    text-align: center;
    padding-bottom: 140px;
}
.pg2h1{
    padding-top: 40px;
}
.spotify{
    position: relative; left: 220px; bottom: 10px;
    padding: 15px;
    padding-top: 55px;
    border-radius: 10px;
}
.applemusic{
    position: relative; top: 100px;
    padding: 15px;
    padding-top: 35px;
    border-radius: 10px;
}
.tidal{
    position: relative; top: 250px; 
    padding: 15px;
    padding-top: 70px;
    border-radius: 10px;
}
.saavn{
    position: relative; bottom: 5px;
    padding-bottom: 0px;
    padding-top: 65px;
    border-radius: 10px;
}
.deezer{
    position: relative; top: 100px; right: 220px;
    padding: 15px;
    padding-top: 55px;
    border-radius: 10px;
}
#pg2>a:hover{
    background: rgb(152,146,255);
    background: linear-gradient(90deg, rgba(152,146,255,0.4) 4%, rgba(255,38,93,0.4) 100%);
}
a:hover{
    transition: all 0.2s;
}
.pg3{
    background-color: white;
    position: relative; bottom: 30px;
    text-align: center;
    padding-bottom: 65px;
}
.pg3h1{
    padding-top: 40px;
}
.pg4{
    color: white;
    background-image: url(/watermelonsugar/images/harryimage.jpg);
    background-size: cover;
    text-align: center;
    position: relative; bottom: 60px;
    padding-bottom: 220px;
}
.pg4>h1{
    padding-top: 40px;
}
.pg4>p{
    font-size: 20px;
    padding: 50px;
    font-family: 'Quicksand', sans-serif;
}
.instagram{
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    position: relative; bottom: -40px; left: -40px;
}
.facebook{            
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    position: relative; bottom: -40px; left: 10px;
}
.twitter{
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    position: relative; bottom: -40px; left: 60px;
}
.pg4>a:hover{
    background-color: gray;
}
footer{
    position: relative; bottom: 60px;
    background-color: white;
    padding: 30px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
@media (max-device-width: 360px){
    body{
        max-width: 360px;
    }
    .start{
        background-image: url(/watermelonsugar/images/harry360.png);
        max-width: 360px;
        padding-bottom: 770px;
    }
    .starttitle{
        font-size: 30px;
        position: relative; left: 25px; bottom: 550px;
        max-width: 250px;
    }
    .start>a{
        position: relative; left: 150px;
        max-width: 100px;
    }
    .page1{
        max-width: 520px;
    }
    .pg1head{
        font-size: 30px;
        padding-top: 40px;
    }
    .about{
        position: relative; left: 45px;
        font-size: 20px;
        padding-bottom: 180px;
        max-width: 250px;
    }
    #pg2{
        max-width: 360px;
        padding: 20px;
    }
    .spotify{
        position: relative; left: 1px; top: 20px;
    }
    .applemusic{
        position:relative; top: 50px;
    }
    .saavn{
        position: relative; top: 10px;
    }
    .deezer{
        position: relative; top: 40px; left: 1px;
    }
    .tidal{
        position: relative; top: 290px;
    }
    .pg2h1{
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    iframe{
        max-width: 250px;
    }
    .pg3{
        max-width: 360px;
        padding-bottom: 200px;
    }
    .pg3h1{
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pg4{
        background-image: url(/watermelonsugar/images/harryimage360.jpg);
        max-width: 360px;
    }
    .pg4>h1{
        font-size: 40px;
        max-width: 360px;
    }
    .pg4>p{
        text-align: left;
        padding: 50px;
        font-size: 15px;
    }
    .instagram{
        position: relative; left: 5px;
    }
    .twitter{
        position: relative; left: -2px;
    }
    .facebook{
        position: relative; left: -1px;
    }
    footer{
        max-width: 360px;
    }
}
